<div class="row">
    <h1><img src="../../../assets/logotilde.png" ><div class="titulo">Educacion</div></h1>
    <div>
        <p> &nbsp;&nbsp;&nbsp;&nbsp;</p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11" >
        <ul>
            <li><h3><img src="../../../assets/klogo2.jpg"class ="logo">Licenciatura en Sistemas | Universidad Nacional de Lanus(UNLa)</h3>
                <h4> (2021-actualidad)</h4></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos saepe recusandae quisquam id, eveniet impedit numquam rerum repellat culpa sequi voluptatem voluptatum, ipsam aperiam aliquam dolores accusamus, porro vero. Tempore!</p>

        </ul>
        <div>
            <p> &nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
        <ul>
            <li><h3><img src="../../../assets/logo-tecnico.png" class="logo2">Técnico Eléctronico | EET N°9</h3></li>
            <p> &nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos saepe recusandae quisquam id, eveniet impedit numquam rerum repellat culpa sequi voluptatem voluptatum, ipsam aperiam aliquam dolores accusamus, porro vero.&nbsp;Tempore!</p>

        </ul>
        <div>
            <p> &nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div>
            <p> &nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
        <ul> 
            <li><h2><img src="../../../assets/logo2.png"class ="logo2">Cursos :</h2></li>
            <p>#Argentina Programa-Cessi- actualidad "Yo programo"</p>
            <p>#Argentina Programa-Cessi- actualidad "Yo programo"</p>
            <p># Argentina Programa-Cessi- Diciembre 2021 "Se programar"</p>
            <p> #Universidad Nacional de Lanús Agosto 2021 "Análisis de Grandes Volúmenes de
            Datos "</p>
            <p>#Google Septiembre 2020 - Octubre 2020Introducción al Desarrollo web 1</p>
            <p>#CFP Nº402 Dr. René Favaloro DICIEMBRE 2017 Armado y Reparación de PC</p>
            <p>#CFP Nº404 Arturo ABRIL 2017 Instalación de Redes</p>
            <p>#CFP Nº 404 Arturo Jauretche Lomas JUNIO 2016 Armado y Reparación de PC</p>
            <p>#Instituto C.E.A ABRIL 2013 Armado y Reparación de PC</p>
            <p>#Instituto Tecnológico Beltrán DICIEMBRE 2012 Operador de AutoCAD 2d</p>

        </ul>
    </div>
</div>
