<div class ="row">
    <div class="container">
        <div class ="logo">
           <p>&nbsp;&nbsp;&nbsp;&nbsp;PORTFOLIO&nbsp;&nbsp;< / > ROBERTO</p>
           &nbsp;&nbsp;&nbsp;&nbsp;<img src="../../../assets/programador.png " class="img2">

        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/roberto-andres-ruiz-pereira-9933241a6/"> <img src="../../../assets/linkedin.png " class="linkedin"></a>

            <a href="https://github.com/rpruiz33"> <img src="../../../assets/github.png" class="github"></a>
            <button class="img3"><a href="https://drive.google.com/file/d/1Q962PgTh_y1QYKl2r21FEKoQ7v1gS_lQ/view?usp=share_link">descargar cv</a></button>
        </div>

    </div>

</div>

