<div class="row">
    
    <div class="col-xs-12 col-sm-2 col-md-2 co l-lg-2">
        <img src="../../../assets/fotoperfil.png"   class ="img-fluid" id ="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id ="nombre1">ROBERTO ANDRÉS RUIZ PEREIRA </p>
        <p id="nombre">FULL STACK DEVELOPER Jr</p>
         
    </div>
        <div class="col-xs-12 col-sm-8  col-md-8 col-lg-8">
            <span>
                <h1 id="Acerca">Acerca de mi</h1>
                <p>
                    "Me destaco por ser una persona que le gusta trabajar en equipo y adaptativa
                    a cualquier entorno, ya sea dinamico o estatico, sumado a que siempre estoy
                    dispuesto a aprender cosas nuevas sobre la marcha para ir continuando con
                    la adquisicion de conocimientos para ser un mejor profesional."
                </p>
            </span>
        </div>
</div>

